@charset "UTF-8";
@keyframes vibe {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}
.fixall {
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  text-decoration: none;
}
.fixall:hover {
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.fixall:focus {
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.3);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
body {
  position: relative;
  font-family: sst;
  height: 5000px;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background-color: rgba(199, 199, 199, 0.5);
  width: 7px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background-image: -moz-linear-gradient(90deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(90deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(90deg, #a22891 0%, #de078d 100%);
}

html {
  scrollbar-width: thin;
  scrollbar-color: #a22891 rgba(199, 199, 199, 0.5);
}

.overflow {
  overflow: hidden !important;
}

@font-face {
  font-family: "sst";
  src: url("../fonts/SST/SST-ARABIC-ROMAN.TTF");
}
@font-face {
  font-family: "light";
  src: url("../fonts/SST/SST-ARABIC-LIGHT.TTF");
}
@font-face {
  font-family: "med";
  src: url("../fonts/SST/SST-ARABIC-MEDIUM.TTF");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/SST/SST-ARABIC-BOLD.TTF");
}
.search {
  position: relative;
}
.search .search-control {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search .search-control:after {
  font-family: "Linearicons-Free";
}
.search .open-search {
  color: #333;
}
.search .open-search:after {
  content: "";
}
.search .open-search:hover {
  color: #de078d;
}
.search .close-search {
  color: #de078d;
}
.search .close-search:after {
  content: "";
}
.search .close-search:hover {
  color: #333;
}
.search .search-form {
  position: absolute;
  bottom: -6px;
  right: 30px;
  transform-origin: right;
  width: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .search .search-form {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 0;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 99;
  }
}
.search .search-form.search-form-open {
  width: 300px;
}
@media (max-width: 767px) {
  .search .search-form.search-form-open {
    width: 100%;
  }
}
.search .search-cont {
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
  .search .search-cont {
    width: 95%;
    margin: 150px auto 0;
  }
}
.search .search-input {
  background-color: #fff;
  width: 100%;
  height: 45px;
  padding: 0 23px;
  font-size: 14px;
  text-align: right;
  color: #a8a8a8;
  border: 1px solid #de078d;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search .search-input::placeholder {
  text-align: right;
  color: #a8a8a8;
  font-size: 14px;
}
.search .search-input:hover {
  border: 1px solid #de078d;
}
.search .search-input:focus {
  border: 1px solid #de078d;
}
.search .search-input:focus:hover {
  border: 1px solid #de078d;
}
.search html[dir=ltr] .search-input {
  text-align: left;
}
.search html[dir=ltr] .search-input::placeholder {
  text-align: left;
}
.search .search-button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: -moz-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  width: 45px;
  height: 100%;
  font-size: 14px;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search .search-button:hover {
  background-color: #a22891;
}
.search html[dir=ltr] .search-button {
  left: auto;
  right: 0;
}

.newsletter-info {
  font-size: 16px;
  color: #fff;
  text-align: right;
}
@media (max-width: 767px) {
  .newsletter-info {
    text-align: center;
  }
}

.newsletter-cont {
  position: relative;
  margin-top: 23px;
}
@media (max-width: 767px) {
  .newsletter-cont {
    margin-top: 15px;
  }
}

.newsletter-input {
  background-color: #fff;
  width: 100%;
  height: 45px;
  padding: 0 23px;
  font-size: 14px;
  text-align: right;
  color: #a8a8a8;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.newsletter-input::placeholder {
  text-align: right;
  color: #a8a8a8;
}

.newsletter-btn {
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  width: 45px;
  font-size: 14px;
  color: #fff;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  background-image: -moz-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100%;
}
.newsletter-btn:after {
  content: "";
  font-family: "Linearicons-Free";
  font-size: 15px;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.newsletter-btn:hover {
  background-size: 300%;
}

.mo-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
}
.mo-navbar .nav-li {
  margin-left: 25px;
}
.mo-navbar .nav-anchor {
  font-size: 18px;
  color: #333;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-navbar .nav-anchor:hover {
  color: #de078d;
}

.mo-dropdown {
  position: relative;
}
.mo-dropdown > .nav-anchor {
  display: flex;
  align-items: center;
}
.mo-dropdown > .nav-anchor:after {
  content: "";
  font-family: "Linearicons-Free";
  font-size: 8px;
  margin-right: 4px;
  color: #333;
}
.mo-dropdown .dropmenu {
  position: absolute;
  min-width: 129px;
  height: auto;
  left: 50%;
  top: 30px;
  transform: translate(-80%, 35px);
  z-index: 10;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13);
  padding: 10px 9px 8px 7px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-dropdown .dropmenu:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-width: 6px;
  border-color: transparent transparent #ffffff;
  border-style: solid;
  top: -12px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.mo-dropdown .dropmenu .nav-li {
  margin: 7.5px 0;
}
.mo-dropdown .dropmenu .nav-anchor {
  font-size: 16px;
  white-space: nowrap;
}
.mo-dropdown:hover .dropmenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.mo-dropdown:hover > .nav-anchor {
  color: #de078d;
}
.mo-dropdown:hover > .nav-anchor:after {
  color: #de078d;
}

.menu-open {
  display: none;
  font-size: 22px;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 25px;
}
@media (max-width: 767px) {
  .menu-open {
    display: flex;
  }
}

.navbar-cont .close-menu {
  display: none;
  font-size: 22px;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: 25px;
  margin: 0;
  position: absolute;
  z-index: 99;
  color: #c7c7c7;
  top: 22px;
}
@media (max-width: 767px) {
  .navbar-cont .close-menu {
    display: flex;
  }
}
.navbar-cont .top-link {
  display: none;
  position: absolute;
  z-index: 99;
  top: 25px;
  right: 25px;
}
@media (max-width: 767px) {
  .navbar-cont .top-link {
    display: flex;
  }
}
@media (max-width: 767px) {
  .navbar-cont {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(162, 40, 145, 0.5);
    z-index: 99;
    display: none;
  }
  .navbar-cont .mo-navbar {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fff;
    right: 0;
    width: 0;
    padding-top: 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    z-index: 9;
    transform-origin: right;
    overflow: hidden;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .navbar-cont .mo-navbar.mo-nav-open {
    width: 280px;
  }
  .navbar-cont .nav-li {
    margin: 5px 0;
    padding: 0 25px;
    width: 280px;
  }
  .navbar-cont .nav-li .nav-anchor {
    justify-content: space-between;
  }
  .navbar-cont .nav-li .nav-anchor:after {
    font-size: 10px;
  }
  .navbar-cont .nav-li:hover .dropmenu {
    transform: none;
  }
  .navbar-cont .drop-mob {
    display: none;
  }
  .navbar-cont .dropmenu {
    position: relative;
    top: auto;
    bottom: auto;
    opacity: 1;
    visibility: visible;
    transform: none;
    left: auto;
    right: auto;
    box-shadow: none;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: right;
    padding: 0;
  }
}

.main-slider-sec {
  overflow: hidden;
}
.main-slider-sec:after {
  content: "";
  display: block;
  background-image: -moz-linear-gradient(90deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(90deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(90deg, #a22891 0%, #de078d 100%);
  width: 2px;
  height: 100px;
  margin: auto;
  margin-top: 42px;
}
@media (max-width: 767px) {
  .main-slider-sec:after {
    margin-top: 15px;
  }
}

.main-slider {
  margin-top: 50px;
  position: relative;
}
@media (max-width: 767px) {
  .main-slider {
    margin-top: 30px;
  }
}
.main-slider .slider-pattern {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .main-slider .slider-pattern {
    display: none;
  }
}
.main-slider .slide {
  position: relative;
  margin: 0 75px;
}
@media (max-width: 767px) {
  .main-slider .slide {
    margin: 0;
  }
}
.main-slider .slide-img {
  width: 581px;
  display: block;
  position: relative;
  overflow: hidden;
}
.main-slider .slide-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
@media (max-width: 767px) {
  .main-slider .slide-img {
    width: 100%;
  }
}
.main-slider .slide-img img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.main-slider .slide-info {
  width: 570px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 500px;
  padding-right: 48px;
  padding-top: 60px;
  padding-bottom: 100px;
}
@media (max-width: 1199px) {
  .main-slider .slide-info {
    right: auto;
    left: 0;
  }
}
@media (max-width: 767px) {
  .main-slider .slide-info {
    width: 100%;
    position: relative;
    transform: none;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    padding: 0;
    text-align: center;
    margin-top: 15px;
  }
}
.main-slider .slide-info-head {
  background-image: -moz-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  color: transparent;
  padding: 10px 0 3px;
  font-size: 36px;
  font-family: med;
  margin-bottom: 23px;
}
.main-slider .slide-info-head:hover {
  color: #de078d;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .main-slider .slide-info-head {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.main-slider .slide-info-desc {
  color: #333;
  font-size: 18px;
  line-height: 1.778;
}
.main-slider .swiper-pagination-bullets {
  width: auto;
  left: auto;
  right: 620px;
  bottom: 210px;
}
@media (max-width: 767px) {
  .main-slider .swiper-pagination-bullets {
    right: auto;
    left: auto;
    bottom: auto;
    position: relative;
  }
}
.main-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 23px;
  height: 1px;
  background: #cbcbcb;
  margin: 0 1.5px;
  outline: none !important;
  box-shadow: none !important;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-slider .swiper-pagination-bullets .swiper-pagination-bullet:hover {
  background: #a22891;
}
.main-slider .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #a22891;
}
@media (max-width: 767px) {
  .main-slider .swiper-pagination-bullets .swiper-pagination-bullet {
    height: 2px;
    border-radius: 0;
  }
}

@media (min-width: 992px) {
  .news-swiper {
    max-width: 100%;
    display: flex;
  }
}
.mo-accordion {
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
}

.mo-accordion:after {
  content: "";
  font-family: "Linearicons-Free";
  font-size: 13px;
}

.mo-accordion.active:after {
  content: "";
}

@media (max-width: 767px) {
  .mo-accordion.foot-nav-links-header {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.mo-panel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

@media (max-width: 767px) {
  .mo-panel {
    padding: 0 15px;
  }
}
.moaccordion {
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
}

.mopanel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  margin-bottom: 0;
}

.clients-cont {
  margin-top: 59px;
  margin-bottom: 85px;
}

header {
  padding-top: 20px;
}
@media (max-width: 767px) {
  header {
    padding-top: 15px;
  }
}
header .header {
  position: relative;
}
header .logo {
  display: flex;
  width: 206px;
}
@media (max-width: 767px) {
  header .logo {
    width: 150px;
    height: auto;
  }
}
header .top-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 767px) {
  header .top-links {
    display: none;
  }
}
header .top-link {
  color: #999999;
  margin-left: 31px;
  font-size: 13px;
  font-family: med;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  direction: ltr;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .top-link span {
  font-size: 16px;
  margin-left: 7px;
}
header .top-link span.way {
  transform: none;
}
header .top-link.phone span {
  transform: rotate(270deg);
}
header .top-link.phone span.way {
  transform: none;
}
header .top-link:hover {
  color: #de078d;
}
header .main-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 8px;
}
@media (max-width: 767px) {
  header .main-header {
    padding: 0;
  }
}
header ._1st-sec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.video-cont {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .video-cont {
    margin-top: 30px;
  }
}
.video-cont .Video {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .video-cont .Video {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.video-cont .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-cont .play:after {
  content: "";
  position: absolute;
  top: 36px;
  bottom: 36px;
  left: 36px;
  right: 36px;
  border: 10px solid #fff;
  border-radius: 100%;
  opacity: 0;
}
.video-cont .play:before {
  content: "";
  position: absolute;
  top: 36px;
  bottom: 36px;
  left: 36px;
  right: 36px;
  border: 10px solid #fff;
  border-radius: 100%;
  opacity: 0;
}
.video-cont .video-anchor {
  position: relative;
  display: flex;
  max-width: 50%;
}
@media (max-width: 767px) {
  .video-cont .video-anchor {
    max-width: none;
    margin-top: 15px;
  }
}
.video-cont .video-anchor:hover .play:after {
  animation: pulse 2s linear infinite;
}
.video-cont .video-anchor:hover .play:before {
  animation: pulse 2s linear infinite;
  animation-delay: 1s;
}
.video-cont .vidoe-title {
  padding-left: 45px;
  max-width: 50%;
}
@media (max-width: 767px) {
  .video-cont .vidoe-title {
    max-width: none;
    padding: 0;
  }
}
.video-cont .videospan {
  color: #333;
  font-size: 18px;
  display: flex;
}
@media (max-width: 767px) {
  .video-cont .videospan {
    text-align: center;
    justify-content: center;
  }
}
.video-cont .videotitle {
  font-family: bold;
  font-size: 36px;
  background-image: -moz-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  color: transparent;
  padding: 10px 0 3px;
  margin-top: 29px;
  line-height: 47px;
}
@media (max-width: 767px) {
  .video-cont .videotitle {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
  }
}

.services-cont {
  text-align: center;
  background-image: url(../images/parallax.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding-top: 90px;
  padding-bottom: 135px;
  margin-top: 105px;
}
.services-cont .services-head {
  position: relative;
}
.services-cont .servicesspan {
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.services-cont .servicestitle {
  font-family: bold;
  font-size: 36px;
  color: #fff;
  margin-top: 29px;
}
@media (max-width: 767px) {
  .services-cont .servicestitle {
    font-size: 25px;
  }
}
.services-cont .services {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 97px;
  margin-top: 77px;
}
@media (max-width: 767px) {
  .services-cont .services {
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
}
.services-cont .service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 767px) {
  .services-cont .service {
    margin-top: 35px;
  }
}
.services-cont .service:hover .service-name {
  color: #c7c7c7;
}
.services-cont .service:hover .service-img {
  animation: vibe 0.7s linear;
}
.services-cont .service-img {
  width: 101px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 23px;
}
.services-cont .service-name {
  font-size: 20px;
  font-family: med;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about-sec {
  position: relative;
}
.about-sec .about-pat {
  position: absolute;
  top: 238px;
  left: -34px;
}
@media (max-width: 1199px) {
  .about-sec .about-pat {
    display: none;
  }
}

.about {
  width: 100%;
  position: relative;
  z-index: 9;
}
@media (max-width: 1199px) {
  .about {
    padding: 50px 0;
  }
}
.about .about-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff;
}
@media (max-width: 1199px) {
  .about .about-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 1199px) {
  .about.vision {
    margin-bottom: 50px;
  }
}
.about.vision .about-info {
  max-width: 58.33333333%;
  padding-left: 50px;
  padding-top: 85px;
  padding-bottom: 102px;
}
@media (max-width: 1199px) {
  .about.vision .about-info {
    max-width: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
.about.vision .about-bgimg {
  top: -47px;
  left: 0;
}
@media (max-width: 1199px) {
  .about.vision .about-bgimg {
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
  }
}
.about.goals {
  padding-top: 202px;
}
.about.goals .about-info {
  max-width: 50%;
  padding-right: 55px;
  padding-top: 80px;
  margin-right: auto;
}
@media (max-width: 1199px) {
  .about.goals .about-info {
    max-width: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
@media (max-width: 1199px) {
  .about.goals {
    padding: 0;
  }
}
.about.goals .about-bgimg {
  right: 0;
  top: 0;
  z-index: -1;
}
@media (max-width: 1199px) {
  .about.goals .about-bgimg {
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    z-index: 1;
  }
}
.about .about-bgimg {
  position: absolute;
}
@media (max-width: 1199px) {
  .about .about-bgimg {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    margin-bottom: 20px;
  }
}
.about .about-header {
  font-family: bold;
  background-image: -moz-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  color: transparent;
  padding: 10px 0 3px;
  margin-top: 26px;
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .about .about-header {
    margin: 20px 0;
  }
}
.about .about-desc {
  color: #333;
  font-size: 18px;
  line-height: 1.778;
}

.numbers-cont {
  text-align: center;
  background-image: url(../images/parallax2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding-top: 132px;
  padding-bottom: 138px;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .numbers-cont {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
.numbers-cont .numbers {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .numbers-cont .numbers {
    flex-direction: column;
  }
}
.numbers-cont .number {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
}
@media (max-width: 767px) {
  .numbers-cont .number {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.numbers-cont .count-name {
  font-size: 18px;
}
.numbers-cont .count-value {
  font-size: 72px;
  font-family: light;
}
.numbers-cont .count {
  font-size: 60px;
  font-family: bold;
}

.parallax-overlay {
  background-image: -moz-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.902;
}

@media (max-width: 767px) {
  .clients-cont {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .clients-cont .swiper-pagination-bullets {
    right: auto;
    left: auto;
    bottom: auto;
    position: relative;
    margin-top: 25px;
  }
}
.clients-cont .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 23px;
  height: 2px;
  background: #cbcbcb;
  margin: 0 1.5px;
  outline: none !important;
  box-shadow: none !important;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
  border-radius: 0;
}
.clients-cont .swiper-pagination-bullets .swiper-pagination-bullet:hover {
  background: #a22891;
}
.clients-cont .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #a22891;
}
@media (max-width: 767px) {
  .clients-cont .swiper-pagination-bullets .swiper-pagination-bullet {
    display: inline-block;
  }
}
.clients-cont ._1st-sec {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}
@media (max-width: 767px) {
  .clients-cont ._1st-sec {
    height: auto;
  }
}
.clients-cont .boldText {
  background-image: -moz-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  color: transparent;
  padding: 10px 0 3px;
  font-size: 25px;
  font-family: bold;
  line-height: 1.44;
  margin-top: 20px;
  margin-bottom: 44px;
}
@media (max-width: 767px) {
  .clients-cont .boldText {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.clients-cont .lightText {
  font-size: 20px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.clients-cont .lightText:before {
  background-color: #a22891;
  width: 1px;
  height: 17px;
  content: "";
  display: block;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .clients-cont .lightText {
    text-align: center;
    font-size: 18px;
  }
}
.clients-cont .moreBtn {
  text-decoration: underline;
  color: #b5b5b5;
  font-size: 16px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.clients-cont .moreBtn:hover {
  color: #de078d;
  text-decoration: none;
}
@media (max-width: 767px) {
  .clients-cont .moreBtn {
    margin: auto;
    margin-top: 25px;
    display: inline-flex;
  }
}
.clients-cont ._2nd-sec {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .clients-cont ._2nd-sec {
    flex-wrap: nowrap;
  }
}
.clients-cont .clients-item {
  width: 33%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .clients-cont .clients-item {
    width: auto;
    margin: auto;
    height: 125px;
  }
}
.clients-cont .clients-item:nth-child(1), .clients-cont .clients-item:nth-child(2), .clients-cont .clients-item:nth-child(3) {
  border-bottom: 1px solid #f2f2f2;
}
@media (max-width: 767px) {
  .clients-cont .clients-item:nth-child(1), .clients-cont .clients-item:nth-child(2), .clients-cont .clients-item:nth-child(3) {
    border: none;
  }
}
.clients-cont .clients-item:nth-child(2), .clients-cont .clients-item:nth-child(5) {
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
@media (max-width: 767px) {
  .clients-cont .clients-item:nth-child(2), .clients-cont .clients-item:nth-child(5) {
    border: none;
  }
}
.clients-cont .client-anchor img {
  filter: grayscale(100%);
  opacity: 0.4;
  transition: all 0.5s ease;
}
.clients-cont .client-anchor:hover img {
  filter: grayscale(0%);
  opacity: 1;
}

.news-cont {
  background-color: #f7f7f7;
  padding-top: 90px;
  padding-bottom: 85px;
}
@media (max-width: 767px) {
  .news-cont {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .news-cont .swiper-pagination-bullets {
    right: auto;
    left: auto;
    bottom: auto;
    position: relative;
    margin-top: 25px;
  }
}
.news-cont .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 23px;
  height: 2px;
  background: #cbcbcb;
  margin: 0 1.5px;
  outline: none !important;
  box-shadow: none !important;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
  border-radius: 0;
}
.news-cont .swiper-pagination-bullets .swiper-pagination-bullet:hover {
  background: #a22891;
}
.news-cont .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #a22891;
}
@media (max-width: 767px) {
  .news-cont .swiper-pagination-bullets .swiper-pagination-bullet {
    display: inline-block;
  }
}
.news-cont .news-head {
  font-size: 30px;
  font-family: bold;
  color: #333;
  text-align: center;
}
.news-cont .news {
  position: relative;
  margin-top: 5px;
  display: flex;
}
@media (max-width: 767px) {
  .news-cont .news {
    display: block;
  }
}
.news-cont .news-pat {
  position: absolute;
  top: 0;
  right: -33px;
  transform: rotate(180deg);
}
@media (max-width: 767px) {
  .news-cont .news-pat {
    display: none;
  }
}
.news-cont .new {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  padding-top: 37px;
  width: 50%;
  margin-left: 31px;
}
.news-cont .new:last-of-type {
  margin-left: 0;
}
@media (max-width: 767px) {
  .news-cont .new {
    width: 100%;
  }
}
.news-cont .new-img {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.news-cont .new-img img {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.news-cont .new-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
  z-index: 1;
  cursor: pointer;
}
.news-cont .new-img:hover:after {
  -webkit-animation: shape 0.7s linear;
  animation: shape 0.7s linear;
}
.news-cont .new-img:hover img {
  transform: scale(1.05);
}
.news-cont .date-bg {
  position: absolute;
  top: 11px;
  right: 11px;
  background-image: -moz-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  width: 50px;
  height: 50px;
  opacity: 0.902;
  z-index: 2;
}
.news-cont .date {
  position: absolute;
  top: 11px;
  right: 11px;
  background-color: transparent;
  width: 50px;
  height: 50px;
  opacity: 1;
  color: #fff;
  text-align: center;
  font-family: med;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  z-index: 2;
}
.news-cont .date .day {
  font-size: 24px;
  line-height: 24px;
}
.news-cont .date .mounth {
  font-size: 12px;
}
.news-cont .new-title {
  font-family: med;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
  margin-bottom: 19px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.news-cont .new-title:hover {
  color: #a22891;
}
.news-cont .new-desc {
  font-size: 16px;
  color: #333;
  margin-bottom: 28px;
}
.news-cont .moreBtn {
  text-decoration: underline;
  color: #b5b5b5;
  font-size: 16px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.news-cont .moreBtn:hover {
  color: #de078d;
  text-decoration: none;
}

.join {
  float: none;
  margin: auto;
  text-align: center;
  margin-top: 77px;
  padding-bottom: 99px;
}
@media (max-width: 767px) {
  .join {
    padding-bottom: 30px;
    margin-top: 30px;
  }
}
.join .LightText {
  font-size: 18px;
  color: #333;
}
.join .BoldText {
  font-size: 36px;
  color: #333;
  font-family: bold;
  margin-bottom: 50px;
  margin-top: 25px;
}
@media (max-width: 767px) {
  .join .BoldText {
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 15px;
  }
}
.join .joinBtn {
  font-family: med;
  color: #fff;
  font-size: 20px;
  background-image: -moz-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-size: 100%;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.join .joinBtn:hover {
  background-size: 300%;
}
@media (max-width: 767px) {
  .join .joinBtn {
    font-size: 18px;
  }
}

footer {
  padding-top: 70px;
  text-align: center;
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
footer .contacts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.102);
}
@media (max-width: 767px) {
  footer .contacts {
    flex-direction: column;
  }
}
footer .contact {
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  margin-left: 115px;
}
@media (max-width: 767px) {
  footer .contact {
    margin-left: 0;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
footer .contact:last-of-type {
  margin-left: 0;
}
footer .contact .contact-info {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 18px;
}
@media (max-width: 767px) {
  footer .contact .contact-info {
    order: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
}
footer .contact .sign {
  background-image: -moz-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -webkit-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  background-image: -ms-linear-gradient(0deg, #a22891 0%, #de078d 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 80px;
  border-radius: 50%;
  font-size: 40px;
  margin-left: 23px;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  background-size: 100%;
}
@media (max-width: 767px) {
  footer .contact .sign {
    order: 1;
    margin: 0;
  }
}
footer .contact .sign::before {
  display: flex;
  align-items: center;
  height: 48px;
}
footer .contact .way {
  font-size: 30px;
  font-family: bold;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  footer .contact .way {
    font-size: 20px;
  }
}
footer .contact.phone .sign:before {
  transform: rotate(270deg);
}
footer .contact:hover .sign {
  background-size: 300%;
}
footer .contact:hover .way {
  color: #de078d;
}

.footer {
  padding-top: 70px;
}

.linksheading {
  font-family: bold;
  font-size: 18px;
  color: #fff;
  margin-bottom: 34px;
  text-align: right;
}
@media (max-width: 767px) {
  .linksheading {
    text-align: center;
    margin-bottom: 20px;
  }
}

.foot-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 140px;
}
@media (max-width: 767px) {
  .foot-links {
    flex-wrap: nowrap;
    max-height: none;
    text-align: center;
    align-items: center;
    max-height: 0;
  }
}

.foot-nav-li {
  margin-bottom: 10px;
}

.foot-link {
  font-size: 16px;
  color: #c7c7c7;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
}
.foot-link:hover {
  color: #fff;
  transform: translateX(-8px);
}

.social {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .social {
    justify-content: center;
  }
}

.social-link {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #59595c;
  color: #fff;
  border-radius: 50%;
  margin-left: 9px;
  font-size: 18px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-link:last-of-type {
  margin-left: 0;
}
.social-link:hover {
  color: #333;
  background: #fff;
}

.copytight {
  padding-top: 57px;
  display: flex;
  color: #898989;
  align-items: center;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 43px;
}
@media (max-width: 767px) {
  .copytight {
    margin-top: 35px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .copytight {
    flex-direction: column;
    padding: 15px 0;
  }
}
@media (max-width: 767px) {
  .copytight .footlogo {
    order: 1;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .copytight .cm {
    order: 1;
    margin-bottom: 7px;
  }
}
.copytight .tasawk {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .copytight .tasawk {
    width: auto;
    order: 2;
  }
}
.copytight .tasawk img {
  margin: 0 5px;
}

@media (max-width: 767px) {
  .social-cont {
    margin: 35px 0;
  }
}

/*# sourceMappingURL=main.css.map */
