.main-slider-sec {

    overflow: hidden;

    &:after {
        content: "";
        display: block;
        @include gred(90deg);
        width: 2px;
        height: 100px;
        margin: auto;
        margin-top: 42px;

        @include xs {
            margin-top: 15px;
        }
    }
}

.main-slider {
    margin-top: 50px;
    position: relative;

    @include xs {
        margin-top: 30px;
    }

    .slider-pattern {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @include xs {
            display: none;
        }
    }

    .slide {
        position: relative;
        margin: 0 75px;

        @include xs {
            margin: 0;
        }
    }

    .slide-img {
        width: 581px;
        display: block;
        position: relative;
        overflow: hidden;

        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        @include xs {
            width: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }

    .slide-info {
        width: 570px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 500px;
        padding-right: 48px;
        padding-top: 60px;
        padding-bottom: 100px;

        @include md {
            right: auto;
            left: 0;
        }

        @include xs {
            width: 100%;
            position: relative;
            transform: none;
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            padding: 0;
            text-align: center;
            margin-top: 15px;
        }
    }

    .slide-info-head {
        @include text();
        font-size: 36px;
        font-family: med;
        margin-bottom: 23px;

        &:hover {
            color: $pink;
            @include transition(all 0.5s ease-in-out);
        }

        @include xs {
            font-size: 25px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .slide-info-desc {
        color: $grey;
        font-size: 18px;
        line-height: 1.778;
    }

    .swiper-pagination-bullets {
        width: auto;
        left: auto;
        right: 620px;
        bottom: 210px;

        @include xs {
            right: auto;
            left: auto;
            bottom: auto;
            position: relative;
        }

        .swiper-pagination-bullet {
            width: 23px;
            height: 1px;
            background: #cbcbcb;
            margin: 0 1.5px;
            outline: none !important;
            box-shadow: none !important;
            opacity: 1;
            @include transition(all 0.3s ease-in-out);

            &:hover {
                background: $purple;
            }

            &.swiper-pagination-bullet-active {
                background: $purple;
            }

            @include xs {
                height: 2px;
                border-radius: 0;
            }
        }
    }
}


@media (min-width: 992px) {
    .news-swiper {
        max-width: 100%;
        display: flex;
    }

}