.mo-navbar {
    @include flex(center, flex-start);
    margin-left: 15px;

    .nav-li {
        margin-left: 25px;
    }

    .nav-anchor {
        font-size: 18px;
        color: $grey;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $pink;
        }
    }
}

.mo-dropdown {
    position: relative;

    >.nav-anchor {
        display: flex;
        align-items: center;

        &:after {
            content: "\e874";
            font-family: 'Linearicons-Free';
            font-size: 8px;
            margin-right: 4px;
            color: $grey;
        }
    }

    .dropmenu {
        position: absolute;
        min-width: 129px;
        height: auto;
        left: 50%;
        top: 30px;
        transform: translate(-80%, 35px);
        z-index: 10;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13);
        padding: 10px 20px 8px 20px;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include transition(all 0.3s ease-in-out);

        &:before {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-width: 6px;
            border-color: transparent transparent #ffffff;
            border-style: solid;
            top: -12px;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
        }

        .nav-li {
            margin: 5px 0;
            border-bottom: 1px solid #eee;
            padding-bottom: 5px;

            &:last-of-type {
                border: none;
            }
        }

        .nav-anchor {
            font-size: 15px;
            white-space: nowrap;
        }

    }

    &:hover {
        .dropmenu {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, 0);
        }

        >.nav-anchor {
            color: $pink;

            &:after {
                color: $pink;
            }
        }
    }
}