@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

// @include transition(all 0.3s ease-in-out);

@mixin flex($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin gred($deg) {
    background-image: -moz-linear-gradient($deg, $purple 0%, $pink 100%);
    background-image: -webkit-linear-gradient($deg, $purple 0%, $pink 100%);
    background-image: -ms-linear-gradient($deg, $purple 0%, $pink 100%);
}

@mixin hovergred($deg) {
    background-image: linear-gradient($deg, $purple, $pink, $pink, $purple);
    background-image: linear-gradient($deg, $purple, $pink, $pink, $purple);
    background-image: linear-gradient($deg, $purple, $pink, $pink, $purple);
    background-size: 200%;
}


@mixin text() {
    background-image: -moz-linear-gradient(0deg, $purple 0%, $pink 100%);
    background-image: -webkit-linear-gradient(0deg, $purple 0%, $pink 100%);
    background-image: -ms-linear-gradient(0deg, $purple 0%, $pink 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    padding: 10px 0 3px;
}

@mixin lg {
    @media (max-width: 1400px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 1199px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin xs {
    @media (max-width: 767px) {
        @content;
    }
}