body {
    position: relative;
    font-family: sst;

    &::-webkit-scrollbar {
        background-color: rgba(#c7c7c7, 0.5);
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        @include gred(90deg)
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: #a22891 rgba(#c7c7c7, 0.5);
}

.overflow {
    overflow: hidden !important;
}