#{$ltr} {
    header {
        .top-links {
            left: 0;
            right: auto;
        }

        .top-link {
            margin-left: 0;
            margin-right: 31px;

            span {
                margin-right: 7px;
                margin-left: 0;

            }

            &.phone {
                span {
                    transform: none;
                }
            }
        }
    }

    .mo-navbar {
        margin-right: 0;
        margin-left: 0;

        .nav-li {
            margin-right: 20px;
            margin-left: 00;
        }

        .nav-anchor {
            font-size: 16px;
        }
    }

    .mo-dropdown {

        >.nav-anchor {
            &:after {
                margin-left: 4px;
                margin-right: 0;
            }
        }

        .dropmenu {
            transform: translate(20%, 35px);

            .nav-li {
                margin: 7.5px 0;
            }

            .nav-anchor {
                font-size: 15px;
                white-space: nowrap;
            }

        }

        &:hover {
            .dropmenu {
                transform: translate(-50%, 0);
            }
        }
    }

    .search {

        .search-form {
            left: 30px;
            right: auto;
            transform-origin: left;

            &.search-form-open {
                width: 250px;

                @include xs {
                    width: 100%;
                }
            }

            @include xs {
                left: 0;
            }
        }


        .search-input {
            text-align: left;
            padding: 0 15px;

            &::placeholder {
                text-align: left;
                color: #a8a8a8;
                font-size: 14px;
            }
        }

        .search-button {
            left: auto;
            right: 0;
        }
    }

    .main-slider {

        .slider-pattern {
            right: auto;
            left: 0;
            transform: translateY(-50%) rotate(180deg);
        }

        .slide-info {
            left: 500px;
            right: auto;
            padding-left: 48px;
            padding-right: 0;

            @include md {
                right: 0;
                left: auto;
                padding: 0;
            }

            @include xs {
                left: auto;
                right: auto;
                padding: 0;
            }
        }

        .slide-info-head {
            font-size: 30px;

            @include xs {
                font-size: 20px;
            }
        }

        .swiper-pagination-bullets {
            left: 620px;
            right: auto;

            @include xs {
                right: auto;
                left: auto;

            }
        }
    }

    .video-cont {

        .vidoe-title {
            padding-left: 0;
            padding-right: 45px;

            @include xs {
                padding: 0;
            }
        }


        .videotitle {
            font-size: 30px;

            @include xs {
                font-size: 20px;
            }
        }
    }

    .services-cont {
        .servicestitle {
            font-size: 30px;

            @include xs {
                font-size: 20px;
            }
        }

        .services {
            padding: 0 0;

            @include xs {
                padding: 0;
            }
        }

        .service-name {
            font-size: 18px;
        }
    }

    .about-sec {
        .about-pat {
            left: auto;
            right: -34px;

            transform: rotate(270deg);
        }
    }

    .about {



        &.vision {

            .about-info {
                padding-right: 50px;
                padding-left: 0;

                @include md {
                    padding: 0;
                }
            }

            .about-bgimg {
                left: auto;
                right: 0;

                @include md {
                    left: auto;
                    right: auto;
                }
            }
        }

        &.goals {
            padding-top: 188px;

            .about-info {
                padding-left: 55px;
                padding-right: 0;
                margin-right: 0;
                margin-left: auto;

                @include md {
                    padding: 0;
                }
            }

            @include md {
                padding: 0;
            }

            .about-bgimg {
                left: 0;
                right: auto;

                @include md {
                    left: auto;
                    right: auto;
                }
            }
        }
    }

    .numbers-cont {

        .count-value {
            font-size: 60px;
        }

        .count {
            font-size: 50px;
        }
    }

    .clients-cont {

        .boldText {
            font-size: 20px;

            @include xs {
                font-size: 18px;
            }
        }

        .lightText {
            font-size: 18px;

            &:before {
                margin-left: 0;
                margin-right: 20px;
            }

            @include xs {
                font-size: 16px;
            }
        }
    }

    .news-cont {

        .news-pat {
            left: -33px;
            right: auto;
            transform: rotate(90deg);
        }

        .new {
            margin-left: 0;
            margin-right: 31px;

            &:last-of-type {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .date-bg {
            left: 11px;
            right: auto;
        }

        .date {
            left: 11px;
            right: auto;
        }
    }

    .join {

        .BoldText {
            font-size: 30px;

            @include xs {
                font-size: 20px;
            }
        }
    }

    footer {
        .contact {
            margin-right: 115px;
            margin-left: 0;

            @include xs {
                margin-left: 0;
                margin-right: 0;
            }

            &:last-of-type {
                margin-left: 0;
                margin-right: 0;
            }

            .sign {
                margin-left: 0;
                margin-right: 23px;

                @include xs {
                    margin-right: 0;
                }
            }

            &.phone {
                .sign {
                    &:before {
                        transform: none;
                    }
                }
            }

        }
    }

    .linksheading {
        text-align: left;
    }

    .foot-link {

        &:hover {
            transform: translateX(8px);
        }
    }

    .social-link {
        margin-left: 0;
        margin-right: 9px;

        &:last-of-type {
            margin-left: 0;
            margin-right: 0;
        }

    }

    .newsletter-info {
        text-align: left;

        @include xs {
            text-align: center;
        }
    }


    .newsletter-input {
        text-align: left;

        &::placeholder {
            text-align: left;
        }

    }



    .newsletter-btn {
        left: auto;
        right: 0px;

        &:after {
            content: "\e87a";
        }
    }

    .menu-open {
        margin-left: 0;
        margin-right: 25px;
    }

    .navbar-cont {
        .close-menu {
            left: auto;
            right: 25px;
        }

        .top-link {
            left: 25px;
            right: auto;
        }

        @include xs {
            .mo-navbar {
                left: 0;
                right: auto;
                transform-origin: left;
            }

            .dropmenu {
                transform: none;
                left: auto;
                right: auto;
                text-align: left;
            }
        }
    }
}